html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Open sans', 'Arial', 'sans serif'
}

#root {
  height: 100vh;
}

.chat {
  display: flex;
  height: 100%;
}

.user__panel {
  text-align: center;
  color: white;
  min-width: 200px;
  background-color: #2c3e50;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
}

#title__connected {
  font-family: Lato;
}

#user__connected {
  padding-left: 20px;
  list-style: none;

  .single-user {
    display: flex;
  }
}

#chat__avatar {
	width: 50px;
	height: 50px;
	margin: 5px 10px;
	background-size: cover;
	border-radius: 50px;
	border: 2px solid #eee;
 	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.pseudo {
  align-self: center;
}

.chat__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chat__box {
  flex-grow: 1;
  background-color: white;
  padding: 5px;
}

#message {
  padding: 0 5px;
  color: white;
  font-family: Lato;
}

.chat__input {
  display: flex;
  background: #f3f3f3;
  padding: 7px 3px;
  height: 35px;
}

.form_username, .form_email, .chat__input textarea {
  width: 100%;
  resize: none;
  line-height: 23px;
  font-size: 16px;
  padding: 5px;
  margin-right: 5px;
  background: #fff;
  color: black;
  border: .1px solid lightgray;
  border-radius: 15px;
  outline: none;
}

.chat__input button[type=submit] {
  background: none;
  border: none;
  outline: none;
}

.messageByMe {
  justify-content: flex-end;

  .message__block {
    background: #2980b9;
  }
}

.messageByAnother {
  justify-content: flex-start;

  .message__block {
    background: #BFBFBF;
  }
}

.messageByMe, .messageByAnother {
  display: flex;
  flex-direction: column;
  width: 47%;

  h3 {
    display: inline-block;
    margin: 0;
    font-family: Raleway;
  }

  h5 {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0;
    font-family: Ubuntu;
  }

  .message__block {
    padding: 5px;
    border-radius: 3px;
  }

}
